# python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
build/
dist/
.pytest_cache/
.ruff_cache/
.coverage
htmlcov/
coverage.xml
.artifacts/

# django
*.log
staticfiles/
media/
db.sqlite3

# ide
.idea/
.vscode/
*.swp
.DS_Store

# окружение
.env

# файлы обмена
exchange/in/*
exchange/out/*
exchange/archive/*
!exchange/in/.gitkeep
!exchange/out/.gitkeep
!exchange/archive/.gitkeep
