* text=auto eol=lf

*.py text eol=lf
*.html text eol=lf
*.css text eol=lf
*.js text eol=lf
*.md text eol=lf
*.toml text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.sh text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.woff2 binary
*.pdf binary
*.xlsx binary
*.xsd text eol=lf